<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>caseopener</title>
    <meta name="description" content="caseopener">
    <meta name="author" content="Jay van der Horst">
    <meta name="description" content="caseopener made by Jay vd Horst">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel='shortcut icon' href='favicon.ico' type='image/x-icon' />

    <!-- STYLESHEET -->
    <link rel="stylesheet" href="css/main.css">

    <!-- BOOTSTRAP -->
    <link rel="stylesheet" href="css/bootstrap/css/bootstrap.css">

    <link rel="stylesheet" href="css/bootstrap/css/bootstrap.min.css">

    <!-- BOOTSTRAP JS -->
    <!--<script src="js/js/bootstrap.js"></script>-->

    <!--<script src="js/js/bootstrap.min.js"></script>-->


</head>
<body>
